<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h1 class="text-center text-3xl font-bold text-indigo-600">Pulsar</h1>
    <h2 class="mt-4 text-center text-xl font-bold text-gray-900">Sign in to your account</h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_with url: session_path, class: 'space-y-6' do |form| %>
      <div>
        <%= form.label :email_address, 'Email', class: 'block text-sm font-medium text-gray-700' %>
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: 'username',
            value: params[:email_address],
            class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm' %>
      </div>

      <div>
        <%= form.label :password, class: 'block text-sm font-medium text-gray-700' %>
        <%= form.password_field :password, required: true, autocomplete: 'current-password', maxlength: 72,
            class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm' %>
      </div>

      <%= form.submit 'Sign in', class: 'flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white hover:bg-indigo-500 cursor-pointer' %>
    <% end %>

    <p class="mt-4 text-center text-sm text-gray-500">
      <%= link_to 'Forgot password?', new_password_path, class: 'text-indigo-600 hover:text-indigo-500' %>
    </p>
  </div>
</div>
